* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

.slideInRight1 {
    animation-name: slideInRight1;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes slideInRight1 {
    0% {
        transform: translateX(2000%);
        visibility: visible;
    }
    100% {
        transform: translateX(0);
    }
}
.fondu {
    animation-name: fondu;
    animation-duration: 5s;
}
@-webkit-keyframes fondu {
    from {
       opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.slideInLeft3 {
    animation-name: slideInLeft3;
    animation-duration: 1s;


}
@keyframes slideInLeft3 {
    0% {
        transform: translateX(-2500%);
        visibility: visible;
    }
    100% {
        transform: translateX(0);
    }
}

.slideInLeft3:hover {
    background-color: black;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.slideInLeft3:hover ul a {
    animation-name: deroul;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.slideInRight1:hover {
    animation-name: deroul;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#recherche:hover {
    animation-name: deroul;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes deroul {
   0% {
       border-color: red;
       color: red;

   }
    10% {
        color: chartreuse;
        text-shadow: 0px 0px 19px red;
    }
    20% {
        color: red;
    }
    30% {
        color: chartreuse;
        text-shadow: 0px 0px 19px red;
    }
    40% {
        border-color: red;
        color: red;
    }
    50% {
        color: chartreuse;
        text-shadow: 0px 0px 19px red;
    }
    60% {
        color: red;
    }
    70% {
        color: chartreuse;
        text-shadow: 0px 0px 19px red;
    }
    80% {
        border-color: red;
        color: red;
    }
    90% {
        color: chartreuse;
        text-shadow: 0px 0px 19px red;
    }
    100% {
        color: red;
    }
}