* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

.slideInRight1 {
    animation-name: slideInRight1;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes slideInRight1 {
    0% {
        transform: translateX(2000%);
        visibility: visible;
    }
    100% {
        transform: translateX(0);
    }
}
.fondu {
    animation-name: fondu;
    animation-duration: 5s;
}
@-webkit-keyframes fondu {
    from {
       opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.slideInLeft3 {
    animation-name: slideInLeft3;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes slideInLeft3 {
    0% {
        transform: translateX(-2500%);
        visibility: visible;
    }
    100% {
        transform: translateX(0);
    }
}

.slideInLeft3:hover ul a {
    animation-name: deroul;
    animation-duration: 2s;
}
@keyframes deroul {
   0% {
       opacity: 0;
   }
    10% {
        opacity: 0.2;
        color: chartreuse;
    }
    20% {
        opacity: 0.4;
        color: green;
    }
    100% {
        opacity: 1;
    }
}