* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

.texte-container {
    overflow: hidden;
    position: relative;
    width: 400px;
    height: 500px;
    margin-top: -467px;
}
.texte-animated {
    animation-name: texte-animated;
    animation-duration: 3s;
}

@keyframes texte-animated {
    0% {
        transform: translateX(-2500%);
        visibility: visible;
    }
    100% {
        transform: translateX(0);
    }
}
